
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">







<aside class="side-nav" id="show-side-navigation1">
  <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
  <div class="heading">

    <div class="info">
      <h3><a class="navbar-brand" href="#">BETH<span class="main-color">LEHEM</span></a></h3>

      <p>Online Sports Betting Platform...</p>
    </div>
  </div>
  <!-- <div class="search">
    <input type="text" placeholder="Type here"><i class="fa fa-search"></i>
  </div> -->
  <ul class="categories">
    <li><i class="fa fa-home fa-fw" aria-hidden="true"></i><a href="#">Promotions</a>
      <!-- <ul class="side-nav-dropdown">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">ipsum dolor</a></li>
        <li><a href="#">dolor ipsum</a></li>
        <li><a href="#">amet consectetur</a></li>
        <li><a href="#">ipsum dolor sit</a></li>
      </ul> -->
    </li>
    <li><i class="fa fa-support fa-fw"></i><a href="#">Football</a>

    </li>
    <li><i class="fa fa-envelope fa-fw"></i><a href="#">Basket Ball</a>

    </li>
    <li><i class="fa fa-users fa-fw"></i><a href="#">Base Ball</a>

    </li>
    <li><i class="fa fa-bolt fa-fw"></i><a href="#"> Crickets</a>

    </li>
    <p>Example:</p>
    <li><i class="fa fa-envelope-open-o fa-fw"></i><a href="#"> Car Race <span class="num dang">56</span></a></li>
    <li><i class="fa fa-wrench fa-fw"></i><a href="#"> Settings <span class="num prim">6</span></a>

    </li>
    <li><i class="fa fa-laptop fa-fw"></i><a href="#"> About UI &amp; UX <span class="num succ">43</span></a></li>
    <li><i class="fa fa-comments-o fa-fw"></i><a href="#"> Something else</a></li>
  </ul>
</aside>







<section id="contents">
  <nav class="navbar navbar-default" >
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <i class="fa fa-align-right"></i>
        </button>
        <a class="navbar-brand" href="#">BETH<span class="main-color">LEHEM</span></a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">


          <li><a href="#"><i class="fa fa-bell-o"></i><span>0</span></a></li>
          <li><a href="#"><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="welcome">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <h2>Welcome Back</h2>
            <p>Get up to $40 in bet credit.</p>

            <h6 style="color:#ff;padding:5px;border-radius:20px; background-color:purple;width:80px" class="main-color" >Get Started </h6>
            <p style="text-align:right">Time limits and other exclusions apply.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <section class="chrt3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="chart-container">


                    <h6 style="color:#fff" >Now In <span class="main-color"> Play</span></h6>

                    <hr />
                  <h1 id="title">Soccer</h1>
                    <div id="rowBox">
                  <div id="rows">
                     <table>
                    <tr class="columns">
                      <td class="row1 rowRow">Fixture</td>
                      <td class="row1 rowRow">1</td>
                      <td class="row1 rowRow">1x</td>
                      <td class="row1 rowRow">2</td>
                      <td class="row1 rowRow">x2</td>
                     </tr>
                       <tr class="columns statistics  ">
                         <td class="rowRow box">AC Milan - Juventus</td>
                         <td class="rowRow box">1.2</td>
                         <td class="rowRow box">1:0 - 2.0</td>
                         <td class="rowRow box">9.</td>
                          <td class="rowRow box"> 5</td>
                       </tr>

                       <tr class="columns statistics  ">
                         <td class="rowRow box">AC Milan - Juventus</td>
                         <td class="rowRow box">1.2</td>
                         <td class="rowRow box">1:0 - 2.0</td>
                         <td class="rowRow box">9.</td>
                          <td class="rowRow box"> 5</td>
                       </tr>


                       <tr class="columns statistics  ">
                         <td class="rowRow box">AC Milan - Juventus</td>
                         <td class="rowRow box">1.2</td>
                         <td class="rowRow box">1:0 - 2.0</td>
                         <td class="rowRow box">9.</td>
                          <td class="rowRow box"> 5</td>
                       </tr>


                       <tr class="columns statistics  ">
                         <td class="rowRow box">AC Milan - Juventus</td>
                         <td class="rowRow box">1.2</td>
                         <td class="rowRow box">1:0 - 2.0</td>
                         <td class="rowRow box">9.</td>
                          <td class="rowRow box"> 5</td>
                       </tr>


                  </table>
                      </div>
                    </div>





            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
            </div>
          </div>
        </div>
      </div>
    </section>



  <br/><br/>

    <h6 style="color:#fff; margin-left:20px" >Promo  <span class="main-color"> Offers</span></h6>

    <hr />


      <section class="statistics" style="clear:both;display:table; margin-left:20px">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="box">
                  <i class="fa fa-fw bg-primary" style="width:20px;height:20px"></i>
                  <div class="info">
                    <h3>1,245</h3> <span>Emails</span>
                    <p>Lorem ipsum dolor sit amet</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box">
                  <i class="fa  fa-fw danger" style="width:20px;height:20px"></i>
                  <div class="info">
                    <h3>34</h3> <span>Projects</span>
                    <p>Lorem ipsum dolor sit amet</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box">
                  <i class="fa  fa-fw success" style="width:20px;height:20px"></i>
                  <div class="info">
                    <h3>5,245</h3> <span>Users</span>
                    <p>Lorem ipsum dolor sit amet</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



              <section class="statistics" style="clear:both;display:table; margin-left:20px">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="box">
                          <i class="fa fa-fw bg-primary" style="width:20px;height:20px"></i>
                          <div class="info">
                            <h3>1,245</h3> <span>Emails</span>
                            <p>Lorem ipsum dolor sit amet</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="box">
                          <i class="fa  fa-fw danger" style="width:20px;height:20px"></i>
                          <div class="info">
                            <h3>34</h3> <span>Projects</span>
                            <p>Lorem ipsum dolor sit amet</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="box">
                          <i class="fa  fa-fw success" style="width:20px;height:20px"></i>
                          <div class="info">
                            <h3>5,245</h3> <span>Users</span>
                            <p>Lorem ipsum dolor sit amet</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>


<br/>




  </section>






  <aside class="side-nav-right right-side" style="float:right" id="show-side-navigation2">


      <div id="container">


      <h1 id="title">FEATURED MATCHES</h1>
        <div id="rowBox">
      <div id="rows">
         <table>
           <tr class="columns">
             <td class="row1 rowRow">Fixture</td>
             <td class="row1 rowRow">1</td>
             <td class="row1 rowRow">1x</td>
             <td class="row1 rowRow">2</td>
             <td class="row1 rowRow">x2</td>
            </tr>
              <tr class="columns statistics  ">
                <td class="rowRow box">AC Milan - Juventus</td>
                <td class="rowRow box">1.2</td>
                <td class="rowRow box">1:0 - 2.0</td>
                <td class="rowRow box">9.</td>
                 <td class="rowRow box"> 5</td>
              </tr>


      </table>
          </div>
        </div>
          </div>
    </aside>



















    <aside class="side-nav-right right-side-butt"  id="show-side-navigation3">


      <div id="container">


      <h1 id="title">FEATURED MATCHES</h1>
        <div id="rowBox">
      <div id="rows">
         <table>
           <tr class="columns">
             <td class="row1 rowRow">Fixture</td>
             <td class="row1 rowRow">1</td>
             <td class="row1 rowRow">1x</td>
             <td class="row1 rowRow">2</td>
             <td class="row1 rowRow">x2</td>
            </tr>
              <tr class="columns statistics  ">
                <td class="rowRow box">AC Milan - Juventus</td>
                <td class="rowRow box">1.2</td>
                <td class="rowRow box">1:0 - 2.0</td>
                <td class="rowRow box">9.</td>
                 <td class="rowRow box"> 5</td>
              </tr>


      </table>
          </div>
        </div>
          </div>
    </aside>













    <br/>
   <br/>
   <hr />


        <footer>
         <font>
          Lawndale Campus (middle-high school)<br>
          7th - 12th Grade<br>
          3900 N. Lawndale, Chicago, IL 60618<br>
          Phone: 773-534-5010 • Fax: 773-534-5199
          </font>

            </footer>
