<app-loading></app-loading>
<!--   -->
		<div class="topbar" *ngIf="!loggedIn else runNextMenu">

                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="text-center">
                          <!-- Image Logo here -->
                        <a routerLink="/" class="logo">
                            <!-- <i class="icon-c-logo"> <img src="../images/logo_sm.png" height="42"/> </i> -->
                            <span><img src="assets/images/partner_logo.png" height="50"/></span>

                        </a>

                    </div>
                </div>


                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="">
                            <div class="">
                                <a href="#" style="font-size:10px;margin-left:-40px;margin-top:30px" class="waves-effect waves-light">Quiz Tester</a>
                            </div>
                            <ul class="nav navbar-nav navbar-right pull-right">


                            </ul>


														<nav role='navigation'>
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />

    <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu"  >
      <a routerLink="../signin"><li>Login</li></a>
      <a routerLink="../signup"><li>Register</li></a>
			<a routerLink="../dashboard"><li>Take Test</li></a>

    </ul>
  </div>
</nav>


				                </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>

            <ng-template #runNextMenu>
                 <usermenu-component *ngIf="loggedIn || user"></usermenu-component>
                  <adminmenu-component *ngIf="loggedIn && isAdmin || user?.isAdmin"></adminmenu-component>
            </ng-template>
