<app-header></app-header>


<div class="account-pages"></div>
    <!-- <div class="clearfix"></div>  -->
    <!--  -->
      <div class="col-lg-8 col-md-6 hidden-md-down hidden-xs hidden-sm " style='background: #fff  no-repeat fixed left; background-size:contain;'>
             <div style="padding:13% 0px">




<div class="container">
    <!-- Start content -->
    <div class="content">
        <div class="container">


<h1>Welcome to GrowDemoTeam video chat!</h1>

<h1>Your interview will start in due time!</h1>

<div>

  <button (click)="createRoom()">Create a new video chat room now!</button>
</div>



<div>
  <div>
    <div>










      <div>
        <div>
          <div>
